*{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    color: #fff;
    font-family: 'arial';
	width: 100%;
	height: 100%;
	margin: 0;
    scroll-behavior:smooth;
	padding: 0;
}

.logo{
    padding-left: 30px;
    padding-right: 20px;
    color: red;
    font-size: 35px;
    font-family: 'bebas';
}

header {
	width: 100%;
	height: 85%;
	min-height: 250px;
	background-image: url('wallpaper.jpg');
	background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
}	
nav  {
    padding-bottom: 8px;
    padding-top: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
    justify-content: left;
    position: fixed;
	background-color:black;
    opacity: 0.8;
}


nav ul {
	padding: 0;
	display: flex;
	align-items: center;
	color: #fff;
}
nav ul li {
	list-style: none;
    padding-left: 20px;
    font-family: helvetica, sans-serif;
}


nav a{
    text-decoration: none;
    font-size: 15px;
 
    color: #fff;
}

.menu-destaque{
    font-weight: bold;
}

.botao-assistir{
    background-color: #d3d3d3;
    font-family: 'arial';
    font-weight: bold;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 13px 55px 13px 55px;
    
}

.logo-filme-destaque{
    width: 195px;
}

.filme-descricao{
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: justify;
    width: 50%;
}

.botao-assistir:hover{
    background-color: #b5b5b5;
}

.mais-info{
    background-color: #7e7e7e;
    font-family: 'arial';
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;

    padding: 13px 55px 13px 55px;
}



.imagem-filme-destaque{
    display: block;
    width: 230px;
    padding-bottom: 25px;
}

.descricao-filme-destaque{
    text-align: justify;
    text-shadow: 1px 2px 0px black;
    font-family: arial;
    width: 35%;
    font-size: 20px;
    padding-bottom: 45px;
}

#filme-destaque{
    font-size: 20px;
    margin-top: 120px;
    padding-left: 35px;
}

#adicionados-recentemente{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 75px;
    font-family: 'sf pro display';
}

#filmes-adicionados{
    margin-top: 25px;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

.filme{
    margin-left: 8px;
    margin-bottom: 8px;
}

.filme:hover{
    opacity: 0.2;
    background-color: black;
    transition: 0.5s;
}

.filme img{
    border-radius: 8px;
    width: 250px;
    height: 390px;


}

footer{
    text-align: center;
    color:rgb(92, 92, 92);
    padding-bottom: 25px;
}

#movies{
    padding-left: 50px;
    list-style: none;
}

#movies li{
    padding-top: 30px;
}

#movies figure{
    margin-bottom: 25px;
}

#movies h2{
    padding-top: 100px;
}

#movies span{
    background-color: red;
    padding: 8px;
    border-radius: 2px;

}

.form__submit, .form__input{
    padding: 8px;
}


.app-movies-all{
    background-color: black;
}

.all-movies-all ul li{
    list-style-type: none;
}